{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<div class="container">
    <h1>S'inscrirer</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
       
          {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Valider</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
