{% extends 'base.html.twig' %}
{% block title 'Gérer les biens' %}

{% block body %}

<div class="container -mt4">

<h1>Gérer mes articles : </h1>

{% for message in app.flashes('success')%}
<div class="alert alert-success">
{{message}}
</div>
{% endfor %}
<table class="table table-striped">
<thead>
    <tr>
    <th>Titre</th>
    <th>Action</th>
    </tr>
</thead>
<tbody>
{% for book in books %}
<tr>
<td>{{ book.title }}</td>
<td>
<a href="{{ path('admin.edit', {id: book.id}) }}" class="btn btn-secondary">Editer</a>
<form method="post" action="{{ path('admin.delete', {id: book.id}) }}" style="display:inline-block" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cette article ?')">
<input type="hidden" name="_method" value="DELETE">
<button class="btn btn-danger">Supprimer</button>
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">


</form>
</td>
</tr>
{% endfor %}
</tbody>

</table>
<div class="text-right">
 
<a href="{{path('admin.new')}}" class="btn btn-primary">Ajoutter un livre</a>
</div>
</div>
 
 </div>
 </div>
{% endblock %}