{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<div style="position:absolute;left:0%;top:8%;width:13.3%;height:100%;background-color:#d5f4e6;">

<img src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('medium')}}" alt="card-img-top" style=" border-style: solid;width:200px;height:200px;position:absolute;left:10%:top:15%">
</div>
<p style="position:absolute;left:0%;top:38%;" >Mise en ligne par : {{book.user.username}}</p>
<div class="container mt-4">
    <h1>Commentaire</h1>
     

<h5>Livre : {{book.title}}</h5>
<div class="container">

<div style="width:30%;height:30%;">
<h5>commentaires :</h5>
<ul>
    {% for comment in comments %}
        <div> <h5>{{comment.user.username}}:</h5> <p style=" padding: 10px;border: 0.5px solid gray;border-radius: 50px 20px;">{{comment.comments}} </p></div>   
{% else %}
<p> Soyez le premier à commenter se livre !<p>
    {% endfor %}
</ul>
</div style="position:absolute;left:50%">

    {{ form_start(form) }}
        {{ form_rest(form) }}
        

        <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}