{% extends 'base.html.twig' %}
{% block body %}
<dic class="container ml-5">
    <h1>Vous n'êtes pas autorisé à accéder à cette page </h1>

    <p>
        <a class="btn btn-danger" role="button" href="{{ path('home') }}">retourner à la page d'acuiel</a>.
    
    </p>
    </div>

    {% endblock %}