#head{
    background-image: url("/images/books/lb.jpg") 
    
}
#bigtitre{
    text-align: center;
    font-family: 'Libre Caslon Display', serif;
    font-size: 60px;
}
.card{
    background-color: #DDDDDD;
    max-width: 600px;
    height: 500px;
    margin: 10px 0;
}
.image {
  position: absolute;
  top:5%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .footer {
    position: absolute;
    top: 180%;
    left: 0%;
    
    width: 100%;
    height: 20%;
    background-color:gray;
    color: black;
    text-align: center;
  }