{% extends 'base.html.twig' %}
{% block title 'Admin' %}

{% block body %}
<div class="container mt-4">
<h1>Editer les biens</h1>
{{ include ('admin/form.html.twig',{form: form, button: 'Editer'})}}
{% endblock %}
