<style>
.de {
  position: absolute;
  top:5%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  </style>
<div id ="de"class="card mt-4">
{% if book.filename %}
<img src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('thumb')}}" alt="card-img-top"style="width:150px;height:150px" >
{% else %}
<img id="image" src="{{ '/images/books/empty.png'| imagine_filter('thumb')}}" alt="card-img-top" style="width:150px;height:150px">
{% endif %}
<div class="card-body">

<h5 class="card-title">
<a href="{{path('book.show',{slug: book.slug , id: book.id})}}">{{book.title}}</a>
</h5>
<p class="card-text">{{book.description | nl2br |truncate(10) }}</p>
<p class="card-text">{{book.author}}</p>


</div>
</div>
