{% extends 'base.html.twig' %}
{% block title "voir nos livres" %}
{% block body %}


<div class="container mt-4">
<h1>Voir tous nos livres</h1>

<div class="row">
{% for book in books %}
<div class="col-md-4">
{% include 'book/book.html.twig' %}
</div>
{% endfor %}
</div>
<div class="pagination">
    {{ knp_pagination_render(books) }}
</div>
</div>

{% endblock %}