{% extends 'base.html.twig' %}
{% block title book.title %}

{% block body %}
<div class="jumbotron">
{% if app.user %}
<div style="width:10%;position:absolute;top:50%" class="list-group">
<a class="list-group-item list-group-item-primary" href="{{path('comment.show',{slug: book.slug , id: book.id})}}">voir les avis ➥</a>
</div>
{% else %}
<div class="list-group">
<a  style="width:10%;position:absolute;top:50%" class="list-group-item list-group-item-primary"  href="{{path('login')}}">se connecter pour voir les avis ➥</a>
</div>
{% endif %}
<div class="container">
{% if book.filename %}
<img src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('medium')}}" alt="card-img-top" style="width:200px;height:200px;position:absolute;left:10%:top:15%">
{% else %}
<img src="{{ '/images/books/empty.png'| imagine_filter('medium')}}" alt="card-img-top"style="position:absolute;left:10%:top:15%">
{% endif %}
<div class="row">
<div class="col-md-8">

</div>
<div class="col-md-4">

<h1>{{book.title}}</h1>
<h2>{{book.author}} pièces - {{book.editor}} </h2>
<div style="position:absolute;left:10%:top:15%">

</div>

<div class="text-primary" style="font-weight:bold ; font-size:2rem">{{book.price}} €</div>


<div id="contactForm" class="mt-4">
{% if app.user %} 
<h5>contacter {{book.user.username}}</5>
{{form_start(form)}}

{{form_end(form)}}
<button class="btn btn-primary">Envoyer</button>
{% else %}
<a  href="{{path('login',{slug: book.slug , id: book.id})}}">contacter : {{book.user.username}}</a>

{% endif %}

</div>
</div>
</div>
</div>
</div>
<div class="container mt-4">


<div class="row">
 
<div class="col-md-8">
<h2>Caractéristiques</h2>
<table class="table table-striped">
<td>Déscription</td>
<td>{{book.description}}</td>
</tr>

<tr>
<td> EAN commerce</td>
<td>{{book.ean}}</td>
</tr>
<tr>
<td>ISBN</td>
<td>{{book.isbn}}</td>
</tr>
<tr>

<tr>
<td>Categorie</td>
<td>{{book.categoryType}}</td>
</tr>
</table>
    </div>
    <div class="col-md-4">
    <h2>Ce livre est mis en vente par</h2>
    {{book.user.username}}
    </div>
</div>
</div>


{% endblock %}
