{% extends 'base.html.twig' %}


{% block body %}


<h2> {{categorie}}</h2>
 <div class="row flex">
 {% for book in books %}
 <div class="col-3">
    <div class="card">
    {% if book.filename %}
<img src="{{ vich_uploader_asset(book, 'imageFile')| imagine_filter('thumb')}}" alt="card-img-top"style="width:150px;height:150px" >
{% else %}
<img src="{{ '/images/books/empty.png'| imagine_filter('thumb')}}" alt="card-img-top" style="width:150px;height:150px">
{% endif %}
     <div class="card-body">
        <h5 class="card-title">
        <a href="{{path('book.show',{id: book.id, slug: book.slug})}}" >{{ book.title }}</a>
        <p class="card-text">{{book.title}} {{book.author}} </p>
        <p class="card-text">{{book.editor}}</p>
        <div class="text-primary" style="font-weight:bold ; font-size:2rem">{{book.price}} €</div>
    </h5>
        </div>
            </div>
                </div>
 {% endfor %}

</div>

{% endblock %}