<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Que des Livres{% endblock %}</title>
        
        <link href="https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    
    
  <a class="navbar-brand" href="{{path('home')}}">Livres</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
                          {% for option in options %}

          <a class="dropdown-item" href="{{path('option.booksByOptionId',{id: option.id})}}">{{option.name}}</a>
                                {% endfor %}
        </div>
             </li>
      <li class="nav-item active">
              <a class="nav-link {% if current_menu is defined and  current_menu == 'books' %} active {% endif %}" href="{{ path('book.index')}}">Plus de livres<span class="sr-only">(current)</span></a>
        
      </li>
    </ul>
       {% if app.user %}
       <ul class="navbar-nav">
       <li class="nav-item">
       
       <a href="{{path('logout')}}" class="nav-link"> Se deconnecter</a>
       </li>
       <li>
        <a href="{{path('bookByUser',{id: app.user.id})}}" class="nav-link"> Mon espace</a>
       </li>
       
       
       </ul>
       {% else %}
       <a style="position:absolute;left:90%;top:5%" href="{{path('login')}}" class="nav-link"> Se connecter</a>
 <a style="position:absolute;left:83%;top:5%" href="{{path('user.register')}}" class="nav-link"> S'abonner</a>
       {% endif %}
  </div>
</nav>
        {% block body %}{% endblock %}
      
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

{% block javascripts %}{% endblock %}
    </body>
</html>
